node_modules/

# build
dist/
esm/
iife/
**/lib/

# eslint
.eslintcache

# Intellij
.idea/
.DS_Store

# yarn berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
