name: Publish

on:
  pull_request:
    types: [closed]
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  publish-packages:
    name: Publish packages to NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: '0'
          token: ${{ secrets.WORKFLOW_GIT_ACCESS_TOKEN }}

      - name: Setup Node.js with caching
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'yarn'

      - name: Set git config
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: yarn install --immutable

      - name: Check ESLint
        run: yarn lerna run check:lint

      - name: Build
        run: yarn lerna run build

      - name: Check Typescript
        run: yarn lerna run check:type

      - name: Run Test
        run: yarn lerna run test

      - name: Versioning
        run: yarn lerna version --yes --ignore-changes

      - name: Publish
        run: yarn lerna publish from-package --yes
