name: Ready Pull Request

on:
  pull_request:
    branches:
      - develop

jobs:
  check-eslint-and-typescript:
    name: Check ESLint & Typescript
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: Setup Node.js with caching
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Check ESLint
        run: yarn lerna run check:lint

      - name: Build
        run: yarn lerna run build

      - name: Check Typescript
        run: yarn lerna run check:type

      - name: Run Test
        run: yarn lerna run test
